The MickeyMouse problem
a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [ ]:
#excercise 1.a
for i in range(1,101):
    if i%15 == 0:
        print("MickeyMouse")
    elif i%5 ==0:
        print("Mouse")
    elif i % 3 == 0:
        print("Mickey")
    else:
        print(i)

In [ ]:
#excercise 1.b
my_tuples = ()
my_list = list()
for i in range(1, 101):
    if i % 15 == 0:
        my_list.append("MickeyMouse")
    elif i % 5 == 0:
        my_list.append("Mouse")
    elif i % 3 == 0:
        my_list.append("Mickey")
    else:
        my_list.append(str(i))

for n, i in enumerate(my_list):
    if i == "Mickey":
        my_list[n] = "Donald"
    elif i == "Mouse":
        my_list[n] = "Duck"
my_tuples = tuple(my_list)
print(my_tuples)

2. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [ ]:
def swap_function(a,b):
    print("Received Values: " , a,b)
    c = b
    b = a
    a = c
    print("Swapped Values: " , a,b)
swap_function("taylan","yuksel")

3. Computing the distance

Write a function that calculates and returns the euclidean distance between two points u and v, where u and v are both 2-tuples (x,y). For example, if u=(3,0) and v=(0,4), the function should return 5

In [ ]:
import math as m
def euclidean_distance (x1,x2,y1,y2):
    return m.sqrt(pow((x1 - y1),2) + pow((x2 - y2),2))

print(euclidean_distance(11,0,0,7))

4. Counting letters

Write a program to calculate the number of times each character occurs in a given string s. Ignore differneces in capitalization

In [ ]:

def countletters(a,b):
    return a.count(b.lower())

s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
countletters(s.lower(),'w')

5. Isolating the unique

Write a function that determines and count the unique numbers in the list l

In [ ]:
def unique_values(l): 
  
    unique_list = [] 
      
    for x in l: 
        if x not in unique_list: 
            unique_list.append(x) 

    print("The unique values from the list: \n", *unique_list)
    print("Total number of unique numbers:" , len(unique_list))    

      
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
     85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
     1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
     45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

unique_values(l)

6. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [ ]:
def square(num):
    return (num*num)

def cube(num):
    return (num*num*num)

def function6th(num):
    return cube(num)*square(num)*num


print(function6th(3))

7. Cubes

Create a list of the cubes of x for x in [0, 10] using:

a) a for loop

b) a list comprehension

In [ ]:
list1 = []
for x in range(0, 10):
    list1.append(x**3)
print("For loop:\r\n",list1)


x = (x ** 3 for x in range(0, 10))
x = list(x)
print("List Comprehension:\r\n",x)

8. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [ ]:
import math

for a in range(0, 100):
    for b in range(0, 100):
        for c in range(0, 100):
            if (int(c**2) == (int(a**2)+int(b**2)) and int(a) != 0 and int(b) != 0 and int(c) != 0):
                print("a="+str(a), "b="+str(b), "c="+str(c))

9. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [ ]:
a = [2, 4, 10, 6, 8, 4, 10, 12, 18, 19, 25, 5, 7]
print("Before normalization : ", a)

min_a, max_a = min(a), max(a)
for i, val in enumerate(a):
    a[i] = (val-min_a) / (max_a-min_a)

print("After normalization : ", a)